// _config.scss
// GENERAL PROJECT STYLES

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

::placeholder {
  color: $textcolor;
}

::selection {
  background-color: rgba(mix(white, $accent, 60%), 0.4);
  color: white;
}

:focus-visible {
    outline: 2px dotted $accent;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}


img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 17rem auto 4.5rem;
}
