// home.scss

.nav-autohide {
  min-height: 4.5rem;
  transition: transform 0.5s;
}

.nav-autohide.is-hidden {
  transform: translateY(-4.5rem);
}

.header-section {
  position: relative;
  margin: 8rem auto 0;
  overflow: hidden;
  h1 {
    text-align: center;
    margin: 0;
    padding: $gutter*2 0;
    filter: drop-shadow(0 2px 4px $black);
  }
  img {
    position: absolute;
    left: 0;
    right: 0;
    filter: blur(2px);
  }
}

.figure-hover {
  padding: 0;
  margin: 0;
  filter: brightness(0.9);
  box-shadow: none;
  transform: scale(1);
  transition: 0.25s all;
  &:hover {
    filter: brightness(1);
    transform: scale(1.005);
    box-shadow: 0 0.25rem 1rem rgba(#000, 0.3);
  }
  @include media-breakpoint-up(xl) {
    max-height: 20rem;
  }
}

.gallery-item {
  display: inline-block;
  padding: 0;
  margin: 0 0 $gutter * 0.5 0;
  break-inside: avoid;
  page-break-inside: avoid;
  img {
    filter: brightness(0.9);
    box-shadow: none;
    transform: scale(1);
    transition: 0.25s all;
    border-radius: 0.25rem;
  }

  &:hover {
    img{
      filter: brightness(1);
      transform: scale(1.0125);
      box-shadow: 0 0.25rem 1rem rgba(#000, 0.3);
    }
  }

  @media (min-width: 460px) {
    width: calc(50% - $gutter * 0.5);
    margin-left: $gutter * 0.25;
    margin-right: $gutter * 0.25;
  }
  @include media-breakpoint-up(md) {
    width: calc(33.33% - $gutter * 0.5);
  }
  @include media-breakpoint-up(lg) {
    width: calc(25% - $gutter * 0.5);
  }
  @include media-breakpoint-up(xl) {
    width: calc(100%/7 - $gutter * 0.5);
  }
}

.blog-img,
.post-img {
  border-radius: 0.25rem;
  @include media-breakpoint-up(md) {
    margin-right: 1rem;
    max-width: 25%;
  }
}

.blank-wrapper {
  height: 100vh;
  border-left: 1px dotted $gray-800;
  border-right: 1px dotted $gray-800;
}
.custom-html-slide {
  position: absolute;
  font-size: calc(1.5rem + 1vh);
  line-height: 1.2;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67%;
  height: auto;
  text-align: center;
}
.custom-html-slide a {
  color: #fff;
  text-decoration: underline;
}

footer {
  box-shadow: 0 -0.5rem 1rem rgba(#000, 0.15);  //shadow to up
}
