// share.sass

.bi-share {
  background-color: #fff;
  border: 1px solid $gray-200;
  border-radius: 0.5rem; // 8px
  position: absolute;
  top: 0;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  transition: 0.3s;

  &::before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: escape-svg(
      url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="6"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.4 15.723c-.684 0-1.296.271-1.764.696l-6.417-3.75a2.97 2.97 0 0 0 .08-.633 2.97 2.97 0 0 0-.08-.632l6.345-3.714a2.683 2.683 0 0 0 1.836.732c1.494 0 2.7-1.211 2.7-2.711A2.701 2.701 0 0 0 17.4 3c-1.494 0-2.7 1.21-2.7 2.71 0 .218.036.426.08.633l-6.344 3.714A2.683 2.683 0 0 0 6.6 9.325a2.702 2.702 0 0 0-2.7 2.711c0 1.5 1.206 2.711 2.7 2.711.71 0 1.35-.28 1.836-.732l6.408 3.76a2.56 2.56 0 0 0-.072.586A2.636 2.636 0 0 0 17.4 21a2.636 2.636 0 0 0 2.628-2.639 2.636 2.636 0 0 0-2.628-2.638Z" fill="#6C757D"/></svg>')
    );
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: center;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 2px rgba(#000, 0.08);
  }

  &:active {
    transform: translateY(0.125rem);
    box-shadow: 0 0 3px 1px rgba(#000, 0.05);
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 3px $white, 0 0 0 6px rgba($accent, 0.5);
  }
}

.pop-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 1100;
  transition: 200ms;
}

.pop-share {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 6rem;
  min-height: 6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  border: 1px solid $gray-200;
  box-shadow: 0 16px 20px -8px rgba(#000, 0.3);
  transition: 200ms transform, 200ms opacity, 200ms visibility;
  z-index: 1;
  opacity: 0.01;
  visibility: hidden;
  transform: scale(0.9);
}

.open-share {
  visibility: visible;
  background-color: rgba(#000, 0.5);
  .pop-share {
    visibility: visible;
    z-index: 1200;
    opacity: 1;
    transform: scale(1); // changed in js
  }
}

.icon-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  a {
    display: inline-block;
    margin-right: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transform: scale(1.125);
    }
    &:active {
      transform: translateY(0.1rem);
    }
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px $white, 0 0 0 6px rgba($accent, 0.5);
    }
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.copy-link {
  min-width: 12rem;
}

.dark-blur-body {
  background-color: rgba(#000, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1100;
  overflow: hidden;
  outline: 0;
  touch-action: none;
}
