{# contacts.htm #}
{% extends "layouts/default.htm" %}
{% set title = "Contacts" %}
{% set pageheader = "CONTACTS" %}
{# ••• #}
{% block main %}
<main class="container-md mb-3">
  <div class="row row-cols-2 pt-5 pb-4">
    <div class="col-3 col-lg-4 text-end"></div>
    <div class="col-9 col-lg-8">
      <h3>Mockup Template</h3>
    </div>
    <div class="col-3 col-lg-4 text-end">
      <p>Addres:</p>
    </div>
    <div class="col-9 col-lg-8">
      <p>70 Washington Square South New York, NY 10012, United States</p>
    </div>
    <div class="col-3 col-lg-4 text-end">
      <p>Phone:</p>
    </div>
    <div class="col-9 col-lg-8">
      <p>+92 423 567 852</p>
    </div>
    <div class="col-3 col-lg-4 text-end">
      <p>Email:</p>
    </div>
    <div class="col-9 col-lg-8">
      <p>info@mockup.com</p>
    </div>
  </div>
</main>
{% endblock %}
{# end contacts.htm #}
