{# index.njk #}
{% extends "layouts/default.njk" %}
{% set title = "Home" %}
{% set pageheader = "Mockup Template" %}
{# ••• #}
{% block main %}
<main class="container-md blur">

  <div class="row mb-5">
    {# main content #}
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
      <figure class="pswp-one-image w-100 h-100 m-0 figure-hover">
        <a href="assets/images/preview.webp" data-size="1280x853" data-cropped="true" target="_blank"><img class="of-cover" src="assets/images/preview.webp" alt="Starter Template - Saint Petersburg" /></a>
      </figure>
    </div>

    <div class="col-12 col-lg-6 d-flex justify-content-between flex-column position-relative">
      <h1>MAIN</h1>
      <button class="bi-share" data-share="popshare" data-delta-x="0" data-delta-y="0" title="Поделится"></button>
      <h3>Welcome to yours new Starter template for a multi-page site!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reprehenderit nulla alias expedita a qui, pariatur doloremque ipsa fugit laboriosam odio iure recusandae laborum delectus praesentium magni reiciendis voluptatem. Sed.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eligendi ab temporibus delectus quaerat officia, magni corporis amet, deserunt natus, excepturi commodi deleniti quasi nisi. Ut tempora porro illo iusto asperiores quidem enim voluptatem eaque repudiandae vel. Modi, earum atque. Suscipit excepturi inventore illo expedita ducimus animi ipsa est ad.</p>
      <div class="text-center text-lg-start mt-3 text-light">
        <button type="button" id="open-popup" class="btn btn-outline-accent" title="viewing content of different types">
          Open PhotoSwipe
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <section class="col-sm-12">
      {# photoswipe gallery #}
      <div class="col-12">
        <h2 class="text-center">photoswipe 5 plagin gallery</h2>
        <ul class="d-flex list-unstyled justify-content-center gap-3">
          <li id="all" class="d-inline-block"><a href="all">all</a></li>
          <li id="foo" class="d-inline-block"><a href="foo">foo</a></li>
          <li id="bar" class="d-inline-block"><a href="bar">bar</a></li>
          <li id="baz" class="d-inline-block"><a href="baz">baz</a></li>
        </ul>
        <div id="gallery-grid" class="gallery pswp-gallery">
          <a data-groups='["foo"]' class="gallery-item" href="assets/images/b2.webp" data-size="1920x1200" target="_blank" title='Townhouse "Silverine"'><img src="assets/images/thumb/b2-640x400.webp" width="640" height="400" alt="Фото" data-capt='Townhouse "Silverine"' /></a>
          <a data-groups='["baz"]' class="gallery-item" href="assets/images/b3.webp" data-size="1920x1200" target="_blank" title='Residential Complex "Нousewarming"'><img src="assets/images/thumb/b3-640x400.webp" width="640" height="400" alt="Фото" data-capt='Residential Complex "Нousewarming"' /></a>
          <a data-groups='["foo"]' class="gallery-item" href="assets/images/b4.webp" data-size="1920x1200" target="_blank" title='Residential Complex "Soul lift"'><img src="assets/images/thumb/b4-640x400.webp" width="640" height="400" alt="Фото" data-capt='Residential Complex "Soul lift"' /></a>
          <a data-groups='["bar"]' class="gallery-item" href="assets/images/b1.webp" data-size="1920x1200" target="_blank" title="Cottage 250 m2"><img src="assets/images/thumb/b1-640x400.webp" width="640" height="400" alt="Фото" data-capt='Cottage 250 m2' /></a>
          <a data-groups='["baz"]' class="gallery-item" href="assets/images/b5.webp" data-size="1920x1200" target="_blank" title="Typical American Single Family Cottage"><img src="assets/images/thumb/b5-640x400.webp" width="640" height="400" alt="Фото" data-capt='Typical American Single Family Cottage' /></a>
          <a data-groups='["bar"]' class="gallery-item" href="assets/images/b6.webp" data-size="1920x1200" target="_blank" title="European house 350 m2"><img src="assets/images/thumb/b6-640x400.webp" width="640" height="400" alt="Фото" data-capt='European house 350 m2' /></a>
          <a data-groups='["foo"]' class="gallery-item" href="assets/images/b7.webp" data-size="1920x1200" target="_blank" title="Modern Cottage"><img src="assets/images/thumb/b7-640x400.webp" width="640" height="400" alt="Фото" data-capt='Modern Cottage' /></a>
        </div>
      </div>
    </section>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita exercitationem illo a dolorem nulla delectus eos enim facilis voluptatem quis nisi beatae molestias amet, nobis quia magni deleniti dolorum eum quos sint itaque dolor, quibusdam harum! Voluptas eos placeat hic, sit consectetur quisquam cupiditate dicta mollitia labore, tenetur voluptate ipsam fuga a dolor accusamus soluta, tempore iste? Cum sapiente sequi, quasi nemo inventore molestiae omnis. Accusamus commodi laudantium itaque necessitatibus dicta illo voluptatem molestias harum sit excepturi eius neque esse pariatur in libero, delectus assumenda dolorum. In commodi, nemo rerum, provident est totam quis ullam ab, rem minima veniam iure.</p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <h3>Eius voluptatum neque doloribus ipsum.</h3>
      <p>Sit dolor a adipisci amet aspernatur incidunt sint rem, quibusdam cupiditate. Beatae atque vero dolore, porro quo quisquam maxime, cumque autem, nisi non suscipit eius tenetur. Nisi nostrum nobis iste accusantium nihil, voluptates perferendis assumenda, aut doloribus vitae recusandae quos eligendi illo sapiente libero id accusamus soluta quis amet quod rerum eos! Debitis natus neque cupiditate impedit, rerum quaerat. Ipsa dolor eos aliquam sequi repellat rerum, accusantium cumque culpa animi dolores impedit doloribus veniam laboriosam totam modi iusto dolorum nam eaque dicta. Quod doloremque voluptates autem eos labore magni assumenda amet blanditiis nemo maiores? Esse sit ipsum officiis aliquid. Quasi.</p>
    </div>
    <div class="col-sm-12 col-lg-4">
      <h3>Laudantium repellendus modi consequatur nisi.</h3>
      <p>Quae iusto, deserunt, explicabo delectus blanditiis perferendis aut ipsum tenetur, commodi recusandae quaerat. Debitis dolorem mollitia in maxime iure sequi tenetur cupiditate inventore repudiandae exercitationem! Dolorem aliquam voluptatibus modi officia, voluptate iste, cumque alias quod minus voluptatum commodi optio aspernatur nam molestias consectetur placeat nobis molestiae veritatis dignissimos exercitationem quae iure tenetur sequi temporibus. Consectetur sequi eius veritatis culpa odio corporis inventore. Aspernatur dolorum similique sit perspiciatis iusto cum velit porro magni adipisci quibusdam, culpa quia tempore dolore rerum voluptatum distinctio accusantium voluptatem exercitationem molestiae beatae ullam repellat accusamus harum. Ullam in, quam assumenda consequatur aperiam vel doloribus dolor asperiores.</p>
    </div>
  </div>

</main>
{% endblock %}
{# end index.njk #}
