// fonts.scss

// FONTS LOAD SECTION  // font-display: swap // Uncomment to initially display system fonts
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-display: swap;
    src: url($furl) format('woff2');
  }
}

@include font('pasInter', normal, 100, '../fonts/Inter/Inter-Thin.woff2');
@include font('pasInter', italic, 100, '../fonts/Inter/Inter-ThinItalic.woff2');
@include font('pasInter', normal, 200, '../fonts/Inter/Inter-ExtraLight.woff2');
@include font('pasInter', italic, 200, '../fonts/Inter/Inter-ExtraLightItalic.woff2');
@include font('pasInter', normal, 300, '../fonts/Inter/Inter-Light.woff2');
@include font('pasInter', italic, 300, '../fonts/Inter/Inter-LightItalic.woff2');
@include font('pasInter', normal, 400, '../fonts/Inter/Inter-Regular.woff2');
@include font('pasInter', italic, 400, '../fonts/Inter/Inter-Italic.woff2');
@include font('pasInter', normal, 500, '../fonts/Inter/Inter-Medium.woff2');
@include font('pasInter', italic, 500, '../fonts/Inter/Inter-MediumItalic.woff2');
@include font('pasInter', normal, 600, '../fonts/Inter/Inter-SemiBold.woff2');
@include font('pasInter', italic, 600, '../fonts/Inter/Inter-SemiBoldItalic.woff2');
@include font('pasInter', normal, 700, '../fonts/Inter/Inter-Bold.woff2');
@include font('pasInter', italic, 700, '../fonts/Inter/Inter-BoldItalic.woff2');
@include font('pasInter', normal, 800, '../fonts/Inter/Inter-ExtraBold.woff2');
@include font('pasInter', italic, 800, '../fonts/Inter/Inter-ExtraBoldItalic.woff2');
@include font('pasInter', normal, 900, '../fonts/Inter/Inter-Black.woff2');
@include font('pasInter', italic, 900, '../fonts/Inter/Inter-BlackItalic.woff2');

@include font('pasJetBrainsMono', normal, 100, '../fonts/JetBrains/JetBrainsMono-Thin.woff2');
@include font('pasJetBrainsMono', italic, 100, '../fonts/JetBrains/JetBrainsMono-ThinItalic.woff2');
@include font('pasJetBrainsMono', normal, 200, '../fonts/JetBrains/JetBrainsMono-ExtraLight.woff2');
@include font('pasJetBrainsMono', italic, 200, '../fonts/JetBrains/JetBrainsMono-ExtraLightItalic.woff2');
@include font('pasJetBrainsMono', normal, 300, '../fonts/JetBrains/JetBrainsMono-Light.woff2');
@include font('pasJetBrainsMono', italic, 300, '../fonts/JetBrains/JetBrainsMono-LightItalic.woff2');
@include font('pasJetBrainsMono', normal, 400, '../fonts/JetBrains/JetBrainsMono-Regular.woff2');
@include font('pasJetBrainsMono', italic, 400, '../fonts/JetBrains/JetBrainsMono-Italic.woff2');
@include font('pasJetBrainsMono', normal, 500, '../fonts/JetBrains/JetBrainsMono-Medium.woff2');
@include font('pasJetBrainsMono', italic, 500, '../fonts/JetBrains/JetBrainsMono-MediumItalic.woff2');
@include font('pasJetBrainsMono', normal, 600, '../fonts/JetBrains/JetBrainsMono-SemiBold.woff2');
@include font('pasJetBrainsMono', italic, 600, '../fonts/JetBrains/JetBrainsMono-SemiBoldItalic.woff2');
@include font('pasJetBrainsMono', normal, 700, '../fonts/JetBrains/JetBrainsMono-Bold.woff2');
@include font('pasJetBrainsMono', italic, 700, '../fonts/JetBrains/JetBrainsMono-BoldItalic.woff2');
@include font('pasJetBrainsMono', normal, 800, '../fonts/JetBrains/JetBrainsMono-ExtraBold.woff2');
@include font('pasJetBrainsMono', italic, 800, '../fonts/JetBrains/JetBrainsMono-ExtraBoldItalic.woff2');
